
form-group{
 border-radius: 50%;
}




#img-bg{
    background-image: url('https://i.imgur.com/wUg52lD.jpg');

    min-height: 655px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


